buildVersionExtractor.xcodeproj/project.xcworkspace/xcuserdata/haxpor.xcuserdatad/UserInterfaceState.xcuserstate
buildVersionExtractor.xcodeproj/xcuserdata/haxpor.xcuserdatad/xcschemes/buildVersionExtractor.xcscheme
buildVersionExtractor.xcodeproj/xcuserdata/haxpor.xcuserdatad/xcschemes/xcschememanagement.plist
